.bg-dark.text-center.text-white.custom-footer{
	position:absolute;
	bottom:0px;
	width:100%;
}
.custom-form{
	margin-top:50px;
}
.custom-editform{
	margin-bottom:141px;
}
.custom-detail{
	margin-top:50px;
}
.custom-form-search{
	margin-top:50px;
}
.custom-detail-event{
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
}
.form-group .text-left{
	width:100%;
	text-align: left;
}